.dropdown-menu {
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dropdown.show .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
}

.c-carousel-item {
  height: 300px; /* Set the desired height */
}

.c-carousel-item img {
  height: 100%; /* Make the image fill the height */
  object-fit: cover; /* Maintain the aspect ratio and cover the area */
}
