<c-row>
  <c-col md="12" xl="3">
    <c-widget-stat-a class="mb-4" color="primary" [title]="'DTDC Courier'">
      <br><br><br>

    </c-widget-stat-a>
  </c-col>
  <c-col md="12" xl="3">
    <c-widget-stat-a class="mb-4" color="warning" [title]="'DELHIVERY'">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        DELHIVERY
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  <c-col md="12" xl="3">
    <c-widget-stat-a class="mb-4" color="danger" [title]="'ExpressBees'">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        ExpressBees
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  <c-col md="12" xl="3">
    <c-widget-stat-a class="mb-4" color="success" [title]="'EcomExpress'">
      <ng-template cTemplateId="widgetValueTemplate" ngPreserveWhitespaces>
        EcomExpress
      </ng-template>
    </c-widget-stat-a>
  </c-col>
</c-row>
